// Colors
$color-theme: #DA112A;
$color-anthracite: #182021;
$color-green: #9EC421;
$color-green-2: #5DDB75;
$color-golden: #FFA81E;
$color-orange: #CC4D1B;
$color-orange-2: #e05900;
$color-golden-darker: #2F2612;
$color-yellow: #ffd014;
$color-yellow-2: #CDE05A;
$color-yellow-acid: #efd86c;
$color-matterhorn: #4A3642;
$color-blue: #00697F;
$color-blue-2: #367ab4;
$color-blue-3: #3F5CA7;
$color-blue-4: #537EEA;
$color-red: #E93A4F;
$color-anthracite-blue: #2a373c;
$color-anthracite-blue-alt:#0F192A;
$color-facebook: #4267B2;
$color-granny-smith: #859CA2;
$color-cyan: #00d4ff;


:root {
  --colorTheme: #DA112A;
}
