@font-face {
  font-family: 'Share Tech';
  src: url('~assets/fonts/ShareTech-Regular.woff2') format('woff2'),
    url('~assets/fonts/ShareTech-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}



// Variables
$font-share-tech : 'Share Tech',
sans-serif;
